services:
    - App\Router\RouterFactory::createRouter

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension
    middleware: Contributte\Middlewares\DI\NetteMiddlewaresExtension

middleware:
    debug: %debugMode%
    middlewares:
        - Tuupola\Middleware\CorsMiddleware
        - Contributte\Middlewares\PresenterMiddleware


nettrine.orm.attributes:
    mapping: [
        App\Entity: %appDir%/Entity
    ]

nettrine.migrations:
  directory: %rootDir%/db/migrations